.container__estoque {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.content__estoque {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.estoque__title h1 {
  color: hsl(0, 0%, 22%);
  margin: 7vh 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.estoque__title h1:after {
  content: "";
  border: 1px solid hsl(0, 0%, 22%);
  display: block;
  width: 10.5vh;
  margin-top: -1.5vh;
}
